---
extends: default

ignore: |
  charts/*/templates/
  charts/migrations-operator/crds/
  charts/rocketchat/charts/
  helm-index/
  index.yaml
  **/node_modules/

rules:
  document-start: disable
  line-length:
    max: 120
  truthy:
    allowed-values: ["true", "false", "on"]
    check-keys: false
